.login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/3184450/pexels-photo-3184450.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  align-items: center;
}
.loginTitle{
    font-size: 50px;
}
.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.loginFormLabel{
    margin: 10px 0;
}
.loginInput{
    padding: 10px;
    background-color: white;
    border:none;
    outline: none;
}

.loginButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none; 
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.loginRegisterButton{
    position: absolute;
    top: 60px; 
    right: 20px;
    background-color: teal;
    cursor: pointer;
    padding: 10px;
    color: white;
    border:none;
    border-radius: 10px;
}